* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #f2dccf;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  height: 80vh;
  margin: 0 auto;
  background-color: #f2dccf;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.cartProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0px;
}

h2 {
  display: inline;
}